.modalBackground{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.modalContainer{
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}
.close-btn{
    position: fixed;
    top: 3%;
    right: 8px;
}.cancel-btn{
    position: fixed;
    bottom: 0%;
    right: 8px;
}
.dates{
    position: absolute;
    left: 50%;
    top: 20%;
}
.tradie-info{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

}
.contact{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.title{
    position: absolute;
    top: -30px;
    font-size: 20px;
    margin-left: 35%;
}
.notes{
    position:sticky;
    margin-top: 20%;
    margin-right: 50%;
}
.note-input{
    position: fixed;
}