ul {
    position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 1-px;
    box-sizing: border-box;
}

ul li {
    display: flex;
    background: rgba(255,255,255,.1);
    padding: 10px 20px;
    margin: 5px 0;
    transition: .5s;
}

.notes{
    position: fixed;
}

